<div class="instructions">
<h2> How does it work? </h2>
<ol>
  <li> The code maker select a 4 colors code (the colors can repeat themselves)</li>
  <li> You have 10 guesses to find the code: the colors and their locations</li>
  <li> First guess: set up the code on the first row and click 'check' <br> to see if you were right</li>
  <li> Feedback: Next to each "guess row" is a small square with four tiny dots.
    <ul>
       <li> Each orange dot means that one of the guessed colors is correct, but is in the wrong hole. </li>
       <li> Each green dot means that one of the guessed colors is correct, and is in the right hole.</li>
      <li> The order of the gray and green dots does not matter.</li>  
    </ul>
  </li>
  <li> Use the feedback from your previous try to guess again</li>
  <li> Continue until the code is guessed or there are no more guesses left.</li>
</ol>

<h3>Good Luck!</h3>
<a href="https://www.wikihow.com/Play-Mastermind" target="_blank">For more information and Using a Methodical Approach</a>
</div>