<div class="instructions">
  <h2> How does it work? </h2>
  <ol>
    <li>  The game will pick a 4-color code. Some colors may be repeated.</li>
    <li>  You have 10 guesses to find the code: You must guess the correct colors for each location.</li>
    <li>  To guess, fill in all 4 spaces on the first row and click 'check’.</li>
    <li>  After you guess, four tiny dots will appear beside the row.
      <ul>
        <li> Each orange dot means that one guessed color is correct, but is in the wrong space.</li>
        <li> Each green dot means one color is in the right space.</li>
        <li> The order of the dots means nothing.</li>  
      </ul>
    </li>
    <li> Use the feedback from your previous try to guess again</li>
    <li> Continue until you win or there are no more guesses left.</li>
  </ol>

  <h3>Good Luck!</h3>
  <div class="link">
  <a href="https://www.wikihow.com/Play-Mastermind" target="_blank">For more information and Using a Methodical Approach</a>
  </div>
</div>