.guess {
  border: 2px solid #343333;
  width: 50%;
  margin: 5px;
}
.check {
  display: flex;
  float: right;
  width: 80px;
  height: 50px;
  background:#1AAB8A;
  color:#fff;
  border:none;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 10px;
}

.check:hover {
    background:#fff;
    color:#1AAB8A;
    border: 1px solid #1AAB8A;
    transition:800ms ease all;
}

