<div class="game">
  <span *ngFor="let circle of circles" class="circle" [style.background-color]="circle"></span>
  <div class="geusses">
    <app-geuss id="try1"></app-geuss>
    <app-geuss id="try2"></app-geuss>
    <app-geuss id="try3"></app-geuss>
    <app-geuss id="try4"></app-geuss>
    <app-geuss id="try5"></app-geuss>
    <app-geuss id="try6"></app-geuss>
    <app-geuss id="try7"></app-geuss>
    <app-geuss id="try8"></app-geuss>
    <app-geuss id="try9"></app-geuss>
    <app-geuss id="try10"></app-geuss>
  </div>
</div>
