<div class="game">
  <span *ngFor="let circle of winningCode" class="circle" [style.background-color]="circle"></span>
  <app-color-options (sendColor)="setColor($event)"></app-color-options>  
  <div class="guesses">
      <span *ngFor="let guess of attemptedGuesses">
        <app-attempted-guess [circles]="guess.colors" [feedbackColors]="guess.feedback"></app-attempted-guess>
      </span>

    <app-guess id="try1" [currentColor]="currentColor" [winningCode]="winningCode"></app-guess>
    <span *ngFor="let guess of remainningGuesses">
      <app-remain-guesses></app-remain-guesses>    
    </span>
  </div>
</div>
