.guesses {
  border: 2px solid #1e1f1e;
  background-color: rgba(38, 157, 115, 0.42);
  -webkit-box-shadow: 7px 5px 11px 4px rgba(15,15,15,0.43);
  -moz-box-shadow: 7px 5px 11px 4px rgba(15,15,15,0.43);
  box-shadow: 7px 5px 11px 4px rgba(15,15,15,0.43);
}

