@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.8;
}

.instructions,
.guesses {
  padding: 10px;
  margin: auto;
  max-width: 50%; 
}
.guesses{
  margin-top: 20px;
}
.color-options {
  width: 230px;
  height: 350px;
  position: fixed;
  left:40px;
  background-color: rgba(38, 157, 115, 0.42);
  margin-top: 10px;
  -webkit-box-shadow: -1px 1px 11px 4px rgba(15,15,15,0.43);
  -moz-box-shadow: -1px 1px 11px 4px rgba(15,15,15,0.43);
  box-shadow: -1px 1px 11px 4px rgba(15,15,15,0.43);
}

a {
  color:rgb(74, 116, 101);
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.guess {
  border: 2px solid #343333;
  width: 50%;
  margin: 5px;
}

